.product-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            margin: 20px;
        }
        .product-card {
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 10px;
            text-align: center;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
			background-color: #FFE4B5;
        }
    
        
        .product-card h3 {
            margin: 10px 0;
        }
        .product-card p {
            color: green;
            font-weight: bold;
        }
        .product-card a {
            display: inline-block;
            margin-top: 10px;
            padding: 5px 10px;
            background-color: #0078D7;
            color: #fff;
            text-decoration: none;
            border-radius: 3px;
        }
        .product-card a:hover {
            background-color: #005ea2;
        }
        .message {
            text-align: center;
            font-weight: bold;
            margin: 10px;
            color: #444;
        }
		
		.product-card img {
            width: 400px;
            height: 300px; 
            object-fit: contain;
            border-radius: 5px;
            background-color: #f4f4f4;
			box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
			
        }
		body{background-color: #FFEBCD;}